@import '../../style/globalStyleDeclaration';

.navigation {
  width: 15%;
  position: fixed;
  left: 0;
  height: 100vh;
  background-color: $sideNavigationBg;
}
.navigationContainer {
}

.logo {
  font-size: 26px;
  font-weight: 300;
  color: white;
  padding: 10px;
  border-bottom: 1px solid #3d3b3b;
  img {
    width:100px;
    height: 30px;
    position: relative;
    top: 6px;
  }
}

.menuList {
  ul {
    li {
      display: flex;
      padding: 20px 15px;
      align-items: center;
      color: $menuListColor;
      cursor: pointer;
      &:hover {
        background-color: #f9f9f9;
        color: $primaryFontColor;
        .iconColor {
          color: $primaryFontColor;
        }
        a {
          color: $primaryFontColor;
        }
      }
      a {
        color: white;
        text-decoration: none;
        outline: none;
      }
      h1 {
        font-size: 16px;
        font-weight: 300;
        padding-left: 10px;
      }
    }
  }
}
.iconColor {
  color: #fff;
  font-size: $sideNavIconSize;
}

.menuListBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  ul {
    li {
      display: flex;
      padding: 20px 15px;
      align-items: center;
      color: $menuListColor;
      cursor: pointer;
      &:hover {
        background-color: #f9f9f9;
        color: $primaryFontColor;
        .iconColor {
          color: $primaryFontColor;
        }
        a {
          color: $primaryFontColor;
        }
      }
      a {
        color: white;
        text-decoration: none;
        outline: none;
      }
      h1 {
        font-size: 16px;
        font-weight: 300;
        padding-left: 10px;
      }
    }
    a:hover {
      text-decoration: none !important;
    }
  }
}

.subList {
  font-size: 14px !important;
  padding: 10px 15px 15px 44px !important;
}

.nav__link {
  display: flex;
  color: white;
  text-decoration: none;
  align-items: center;
  &:hover {
    color: black;
  }
}
